.categories-page {
    padding: 40px;
    text-align: center;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.category-card {
    display: block;
    padding: 40px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: #3e2723;
    font-size: 18px;
    font-weight: bold;

    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.category-card:hover {
    transform: translateY(-5px);
    background-color: #6f4e37;
    color: white;
}