body {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* BODY */
  body {
    background-color: #0B1220;
    color: #F9FAFB;
    font-family: Arial, sans-serif;
  }
  
  /* NAVBAR */
 /* NAVBAR CONTAINER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(11, 18, 32, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1F2937;
  }
  
  /* NAV LAYOUT */
  nav {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* LOGO */
  nav h1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #F9FAFB;
  }
  
  /* LINKS */
  nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }
  
  /* LINK STYLE */
  nav a {
    text-decoration: none;
    color: #9CA3AF;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
  }
  
  /* HOVER EFFECT */
  nav a:hover {
    color: #F9FAFB;
  }
  
  /* UNDERLINE EFFECT */
  nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #C08457;
    transition: 0.3s;
  }
  
  nav a:hover::after {
    width: 100%;
  }
  
  /* ACTIVE LINK (اختياري تضيف class active) */
  nav a.active {
    color: #C08457;
  }
}